.root {
  width: 112px;
  height: 112px;
  border-radius: 56px;
  background-color: var(--color-background-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.stick {
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background-color: var(--color-on-background);
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
  position: relative;
}

.stick::before {
  position: absolute;
  content: '';
  inset: -56px;
  border-radius: 50%;
}
