:root {
  --font-family: 'Cormorant Garamond';

  --color-secondary: #B6B19A;
  --color-primary: #6C9567;

  --color-background: #0b1012;
  /* --color-background-100: rgba(11, 16, 18, 0.85); */
  --color-background-overlay: rgb(11, 16, 18, 0.8);
  --color-on-background: #fff;
}

body {
  margin: 0;
  font-feature-settings: 'liga', 'kern', 'pnum', 'lnum';
  user-select: none;
}
